<%- include("header.ejs") %>
<section id="main">
  <div
    class="container-fluid carousel-container bg-white"
    style="--bs-bg-opacity: 0.65"
  >
    <h1 class="header-title">Despre noi</h1>
  </div>
  <img
    src="images/carousel/landscape/carousel-img-2.jpg"
    class="d-block w-100 header-img"
    id="carousel-img-1"
    alt="..."
  />
</section>
<section id="about-us">
  <div class="px-4 my-5 text-center">
    <img
      class="d-block mx-auto mb-4"
      src="/images/logo.png"
      alt=""
      width="100"
      height="100"
    />
    <h1 class="display-5 fw-bold text-body-emphasis projects-title">
      Cine suntem
    </h1>
    <div class="col-lg-8 mx-auto">
      <p class="lead mb-4">
        În martie 2020, împreună cu oameni de bine din Dej puneam pe picioare
        grupul de voluntari ”Vă Ajutăm din Dej”. Era prima zi de stare de
        urgență și atunci ad-hoc ne-am hotărât să facem ceva să ajutăm
        persoanele în vârstă și cele vulnerabile cu cumpărăturile. Pe timpul
        stării de urgență am livrat sute de cumpărături, am mobilizat dejenii să
        ni se alăture, am ajutat atât cât am putut. Ulterior am distribuit, tot
        cu ajutorul dumneavoastră, sute de porții de mâncare, alte articole de
        strictă necesitate si medicamente celor nevoiași. În vara anului 2020,
        cei care am rămas în acest proiect, ne-am constituit în Asociația "Vă
        ajutăm din Dej" și am continuat în a face bine. Primul nostru proiect a
        fost de Crăciun când am demarat campania De Crăciun Dăruiește un zâmbet
        în cadrul căreia, am ajutat peste 100 de persoane din Dej. Azi, suntem
        46 de voluntari, neobosiți și dornici să vedem cât mai multe zâmbete pe
        chipul celor mici și recunoștință în ochii celor mari, iar cu ajutorul
        dumneavoastră, vom continua această misiune.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button
          type="button"
          class="btn btn-primary-pink-round btn-lg px-4 gap-3 mx-5"
          onclick="window.location.href='/proiecte'"
        >
          Proiectele noastre
        </button>
        <button
          type="button"
          class="btn btn-secondary-pink btn-lg px-4 mx-5"
          onclick="window.location.href='/cum-pot-ajuta'"
        >
          Cum poți ajuta
        </button>
      </div>
    </div>
  </div>
</section>
<section id="obiective">
  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom projects-title">Obiective</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
        >
          <img src="images/checkmark-32.png" height="20" width="20" />
        </div>
        <h3 class="fs-2 text-body-emphasis">Featured title</h3>
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
        >
          <img src="images/checkmark-32.png" height="20" width="20" />
        </div>
        <h3 class="fs-2 text-body-emphasis">Featured title</h3>
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
        >
          <img src="images/checkmark-32.png" height="20" width="20" />
        </div>
        <h3 class="fs-2 text-body-emphasis">Featured title</h3>
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="team">
  <div class="team-header">
    <h2 class="projects-title">Echipa</h2>
    <h3 class="projects-title">Consiliul Director</h3>
  </div>
  <div class="team-grid cd">
    <% council.forEach(member => { %>
    <div class="member">
      <img src="/images/members/<%= member.name.replaceAll(" ", "_") %>.jpg"
      class="pb-2">
      <h2><%= member.name %></h2>
      <h3><%= member.status %></h3>
    </div>
    <% }) %>
  </div>
  <div class="members-header">
    <h3 class="projects-title">Membrii asociației</h3>
  </div>

  <div class="team-grid cd">
    <% notCouncil.forEach(member => { %>
    <div class="member">
      <img src="/images/members/<%= member.name.replaceAll(" ", "_") %>.jpg"
      class="pb-2"/>
      <h2><%= member.name %></h2>
      <h3><%= member.status %></h3>
    </div>
    <% }) %>
  </div>
</section>
<%- include("footer.ejs") %>
