<%- include("header.ejs") %>
<section id="main">
  <div
    class="container-fluid carousel-container bg-white"
    style="--bs-bg-opacity: 0.65"
  >
    <h1 class="header-title">Despre noi</h1>
  </div>
  <img
    src="images/carousel/landscape/carousel-img-1.webp"
    class="d-block w-100 header-img"
    id="carousel-img-1"
    alt="..."
  />
</section>
<section id="about-us">
  <div class="px-4 my-5 text-center">
    <img
      class="d-block mx-auto mb-4"
      src="/images/logo.png"
      alt=""
      width="100"
      height="100"
    />
    <h1 class="display-5 fw-bold text-body-emphasis projects-title">
      Cine suntem
    </h1>
    <div class="col-lg-8 mx-auto">
      <p class="lead mb-4">
        În martie 2020, #împreună cu câțiva oameni de bine din Dej, puneam pe
        picioare grupul de voluntari Vă Ajutăm din Dej. Era prima zi de stare de
        urgență și atunci, ad-hoc, ne-am hotărât să facem ceva să ajutăm
        persoanele în vârstă și cele vulnerabile cu cumpărăturile. Pe timpul
        stării de urgență am livrat sute de cumpărături, am mobilizat dejenii să
        ni se alăture și împreună cu Asociația Civică Mândru că-s Dejean am
        ajutat cu donații in valoare de zeci de mii de lei Spitalul Municipal
        Dej. Ulterior am distribuit, tot cu ajutorul dumneavoastră, sute de
        porții de mâncare, alte articole de strictă necesitate si medicamente
        celor nevoiași. În vara anului 2020, cei care am rămas în acest proiect,
        ne-am constituit în Asociația „Vă ajutăm din Dej" și am continuat în a
        face bine. În anul 2021 am fuzionat cu principalii noștri parteneri -
        Asociația Civică Mândru că-s Dejean devenind mai buni și mai puternici.
        Anul 2022 a fost dedicat sprijinul poporului ucrainean atât prin
        transportul de bunuri și alimente la Sighet sau direct in Ucraina, cât
        și prin grija față de refugiații ucraineni care au ajuns în România și
        în special în orașul nostru. În anul 2023 am reușit să implementăm patru
        noi proiecte, două pe linie de educație și două pe linie de sănătate.
        Chiar dacă au fost vremuri complicate (pandemia, războiul din Ucraina),
        noi am fost aici neobosiți și dornici să vedem zâmbete pe chipul celor
        mici și recunoștință în ochii celor mari, iar cu ajutorul dumneavoastră
        vom continua. Dorim să vă mulțumim pentru toată generozitatea și empatia
        de care ați dat dovadă Sunteți minunați!!!
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button
          type="button"
          class="btn btn-primary-pink-round btn-lg px-4 gap-3 mx-5"
          onclick="window.location.href='/proiecte'"
        >
          Proiectele noastre
        </button>
        <button
          type="button"
          class="btn btn-secondary-pink btn-lg px-4 mx-5"
          onclick="window.location.href='/cum-pot-ajuta'"
        >
          Cum poți ajuta
        </button>
      </div>
    </div>
  </div>
</section>
<section id="obiective">
  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom projects-title">Obiective</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
        >
          <img src="images/checkmark-32.png" height="20" width="20" />
        </div>
        <h3 class="fs-2 text-body-emphasis">Construim o comunitate solidă</h3>
        <p>
          Organizarea și furnizarea de servicii sociale, medicale, educaționale
          și economice pentru categorii vulnerabile, promovând integrarea și
          îmbunătățirea calității vieții.
        </p>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
        >
          <img src="images/checkmark-32.png" height="20" width="20" />
        </div>
        <h3 class="fs-2 text-body-emphasis">Oportunități noi</h3>
        <p>
          Dezvoltarea socio-economică pentru persoanele defavorizate, oferind
          noi perspective și îmbunătățind condițiile de viață prin proiecte
          inovatoare și inițiative de sprijin.
        </p>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
        >
          <img src="images/checkmark-32.png" height="20" width="20" />
        </div>
        <h3 class="fs-2 text-body-emphasis">
          Implicare civică prin voluntariat
        </h3>
        <p>
          Promovarea activităților de voluntariat prin inițiative creative și
          educaționale, evidențiind contribuția voluntarilor la dezvoltarea
          comunității locale și la creșterea conștientizării publicului.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="team">
  <div class="team-header">
    <h2 class="projects-title">Echipa</h2>
    <h3 class="projects-title">Consiliul Director</h3>
  </div>
  <div class="team-grid cd">
    <% council.forEach(member => { %>
    <div class="member">
      <img src="/images/members/<%= member.name.replaceAll(" ", "_") %>.webp"
      class="pb-2">
      <h2><%= member.name %></h2>
      <h3><%= member.status %></h3>
    </div>
    <% }) %>
  </div>
  <div class="members-header">
    <h3 class="projects-title">Membrii asociației</h3>
  </div>

  <div class="team-grid cd">
    <% notCouncil.forEach(member => { %>
    <div class="member">
      <img src="/images/members/<%= member.name.replaceAll(" ", "_") %>.webp"
      class="pb-2"/>
      <h2><%= member.name %></h2>
      <h3><%= member.status %></h3>
    </div>
    <% }) %>
  </div>
</section>
<%- include("footer.ejs") %>
